@model IEnumerable<AfricanMagicSystem.Models.Delivery>

@{
    ViewBag.Title = "All Deliveries";
}

<h2>AfricanMagic Deliveries</h2>
<h3>Delivery History</h3>
<br/>

<table class="table">
    <tr>
        <th>
        @Html.DisplayNameFor(model => model.DeliveryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sale.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>            
            @Html.ActionLink("Details", "Details", new { id=item.DeliveryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeliveryId })
        </td>
    </tr>
}

</table>
