@model IEnumerable<AfricanMagicSystem.Models.Product>

@{
    ViewBag.Title = "View Low Stock";
}

<h2>View Low Stock</h2>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Stock < 20)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.ActionLink("Generate Stock", "GenerateLow", new { id = item.ID })
                </td>
            </tr>
        }

    }
@Html.BeginForm()
    <div class="form-group">
        @Html.Label("Supplier", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Supplier", new List<SelectListItem>
       {
           new SelectListItem{ Text = "Alpha", Value = "Alpha"},
           new SelectListItem{ Text = "Beta", Value = "Beta"},
           new SelectListItem{ Text = "Tetha", Value = "Tetha"}
       })
            @Html.ValidationMessage("Supplier", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Quantity", "" , new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("Quantity", "", new { @class = "text-danger" })
        </div>
    </div>

</table>
