@model AfricanMagicSystem.Models.ReturnItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReturnItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div> 
<table class="table table-striped table-hover">
    <tr>
        <th>
            Item Purchased
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            SaleDetailID
        </th>
    </tr>
    @foreach (var item in Model.saleDetails)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDetailId)
            </td>
        </tr>
    }  

</table>

<!--<div>
    @Html.Editor("SaleDetailsId", "SaleDetailsId","SaleDetailsId");
    @Html.ActionLink("Refund", "Refund", "ReturnItems", new { @class = "btn btn-primary" })
</div>-->
<!--<form action="Refund" method="post">
    <input name="ValueinNeed" type="text"/>
    <input type="submit" value="Refund"/>
</form>-->

@using (Html.BeginForm("Refund","ReturnItems"))
{
    @Html.AntiForgeryToken();
    <input type="text" name="Value"/>
    <input type="submit" />
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
