@model IEnumerable<AfricanMagicSystem.Models.ReturnItem>

@{
    ViewBag.Title = "Support";
}

<h2>Return Requests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td> 
            @Html.ActionLink("Details", "Details", new { id=item.ReturnCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReturnCode })
        </td>
    </tr>
}

</table>
