@model AfricanMagicSystem.Models.BulkOrderSales

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BulkOrderSales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BOSaleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOSaleID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BOSaleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOSaleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalNotes)
        </dd>

    </dl>
</div>
<br />
<table class="table table-striped table-hover">
    <tr>
        <th>
            Item Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            In Stock
        </th>
    </tr>
    @foreach (var item in Model.BulkOrderSaleDetails)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BulkOrderImages.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BOQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BulkOrderImages.Stock)
            </td>
        </tr>
    }

</table>


<br />

@using (Html.BeginForm("VerifyStock", "BulkOrderSales"))
{
    @Html.AntiForgeryToken();
    <input type="text" name="Value" />
    <input type="submit" value="Enter Sale ID to Verify" />
}

<br />

@using (Html.BeginForm("RejectStock", "BulkOrderSales"))
{
    @Html.AntiForgeryToken();
    <input type="text" name="Value" />
    <input type="submit" value="Enter SaleID to Reject" />
}

<br />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BOSaleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
