@model IEnumerable<AfricanMagicSystem.Models.SupplierShipping>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShippingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Completed == true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Confirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelIItem => item.Completed)
                </td>
            </tr>
        }
    }

</table>
<br/>

@using (Html.BeginForm("ReceiveStock", "SupplierShippings"))
{
    @Html.AntiForgeryToken();
    <input type="text" name="Value"/>
    <input type="submit" value="Enter ShippingID to log stock."/>
}

