@model AfricanMagicSystem.Models.Delivery

@{
    ViewBag.Title = "Order Tracking";
}


<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        width: 600px;
    }
</style>

<h2>Order Status</h2>

<div>
    <h4>Sale #@Model.SaleId</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Order Status:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt>
            @Html.DisplayName("Delivery Address:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sale.Address)
        </dd>
        <dt>
            @Html.DisplayName("Deliver To:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sale.FirstName)
        </dd>
        <dt>
            @Html.DisplayName("Detailed Order:")
        </dt>
        <dd>
            <ul>
                @foreach (var item in (List<string>)ViewBag.Products)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
        </dd>
        <dt>
            @Html.DisplayName("Total For Order:")
        </dt>
        <dd>
            @ViewBag.Total
        </dd>
    </dl>

    <h3>Package Location:</h3>
    <h4>@ViewBag.CurrentLocation </h4>
</div>

<br />
<iframe width="800"
        height="480"
        frameborder="0" style="position : relative; left : 15%;"
        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDGQDyFapB5Q_YGUANNY1TOf27tqR1JQ6w&origin='@ViewBag.CurrentLocation'&destination='@ViewBag.DeliveryAddress'&avoid=tolls|highways" allowfullscreen>
</iframe>

<br />
<br />
<br />


<p>
    @Html.ActionLink("Back To Order History", "Index")
</p>

